/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.app {
    height: 100vh;  /* App alta quanto la viewport */
    display: flex;  /* Sidebar + main affiancati */
}