/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

/* Contiene sidebar + main */
.content {
    flex: 1;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background-color: black;
}

/* MAIN */
.main {
    flex-grow: 1;
    background-color: rgb(30, 22, 22);
    overflow-y: auto;
}

/* PLAYER */
.player {
    height: 90px;
    background-color: rgb(24, 24, 24);
}