/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Contiene sidebar + main */
.content {
    flex: 1;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background-color: black;
}

/* MAIN */
.main {
   flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgb(30, 30, 30);
}

/* PLAYER */
.player {
    height: 90px;
    background-color: rgb(20, 20, 20);
}

/* ---- SIDEBAR STRUCTURE (RGB) ---- */

.sidebar {
    width: 230px;
    background-color: rgb(0, 0, 0);
    /* nero Spotify */
    display: flex;
    flex-direction: column;
}

/* Parte alta */
.sidebar-top {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Blocco menu */
.logo-block {
    height: 40px;
    background-color: rgb(0, 255, 0);
}

.menu-block {
    height: 120px;
    background-color: rgb(0, 255, 0);
}

.playlist-block {
    flex-grow: 1;
    background-color: rgb(255, 0, 0);
    /* rosso */
}

.install-block {
    height: 30px;
    background-color: rgb(0, 0, 255);
    /* blu */
}

.user-block {
    height: 40px;
    background-color: rgb(0, 0, 255);
}

/* ------- TOPBAR (NAVBAR SUPERIORE) ------- */

.topbar {
    height: 70px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Blocchi dentro la topbar */
.nav-left-block {
    width: 300px;
    height: 40px;
    background-color: rgb(100, 100, 100);
}

.nav-right-block {
    width: 200px;
    height: 40px;
    background-color: rgb(100, 100, 100);
}

/* Area contenuti */
.content-area {
    flex-grow: 1;
    background-color: rgb(50, 50, 50);
}

.subnav {
    height: 50px;
    background-color: rgb(55, 55, 55);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.subnav-menu {
    height: 30px;
    width: 200px;
    background-color: rgb(90, 90, 90);
}